<DOCTYPE! html>
  <html>
    <head>
    <div class="p-3 mb-2 bg-black text-white">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>INTO THE SPACE</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <style>
        
          #imgsize
          {
            width: 100%;
            height: 360;
            object-fit:cover;
          }
        
      </style>
      </head>
    <body>
      <div class = "container">
        <div class="text-center">
         <h1 class="fs-1" style="color:blueviolet" > INTO THE SPACE</h1>
          
          <p class="fw-bold" style="color:royalblue"> 
        let's explore into space and see what's up there. 
        Prepare yourself for this collasal trip!!
          </p>
        
       <button type="button" class="btn btn-info">explore</button>
          <img  class = "img-fluid" id="imgsize" src="https://aimingtogo2the-space--merveilleuxrenu.repl.co/static/space.jpg">
          <h2 class="fs-2" style="color:blueviolet">
           GALAXIES-let's spin with it, shall we?
          
          </h2 >
          <img  class = "img-fluid" id="imgsize" src="https://aimingtogo2the-space--merveilleuxrenu.repl.co/static/galxy.jpg">
         
          <p >
            Explore the tapestry of the cosmos, where stars ignite and galaxies dance. Galaxies, those celestial marvels, beckon us to witness their grandeur. Within their spiral arms and elliptical embrace, secrets of the universe unfold.

Galaxies, vast and timeless, are cosmic metropolises of stars. They dazzle with their kaleidoscope of colors and ignite our imaginations. Each galaxy is a cosmic symphony, an ensemble of billions of stars harmonizing in the vast expanse.

Embark on a cosmic odyssey, traversing the Milky Way and beyond. Discover the spiral majesty of Andromeda, the radiant brilliance of the Whirlpool, or the mystique of the Sombrero. Witness the birth of stars in interstellar nurseries, and marvel at the colossal black holes that shape these cosmic realms.

Galaxies are the keepers of secrets, holding clues to the origins of our universe. From the graceful dance of galactic collisions to the enigmatic dark matter that binds them, they whisper tales of cosmic evolution that captivate our minds.

So, gaze up at the starry tapestry above, and let your curiosity soar. Galaxies, the celestial wonders, invite you to embark on an extraordinary journey through the vastness of space, where mysteries await and awe awaits your embrace.
          </p>
        </div>
      </div> 
      </div>
    </body>
  </html>
      

