<!DOCTYPE html>
<html>
  <head>
    <title>space adventure</title>
    <style>
      h1{
         font-size: 50px;
         color: darkviolet;
        }
    </style>
  </head>
<body>
  
    <div class="h-center" style= "text-align: center;">
     <div class = "colors" style = "color:white;">
      <div class = "backgrnd" style = "background:darkblue;">
        <h1>SPACE ADVENTURE</h1>
       <h2>Time to feed your curiosity</h2>
        <p>
      let's start our adventure into the space and feel what is 
      up there!, prepare yourself for this collosal trip!!!!
        </p>
        <button class = "buttons" style = "background:blue;" >
          let's go
        </button>
       </div>
      </div>
    </div>
  </body>
</html>
      
  
  
  



